.card {
  position: relative;
  width: 100%;
  height: 21.25em;
  border-radius: 0.625em;
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
}

  
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625em;
}

.card-title {
  @include AbsolutePosition ($bottom: 1.25em, $left: 1.25em);
  @include MainPolice(white, 1.125em);
}

// ********** MEDIA QUERIES MOBILE ********** //

  @media screen and (max-width: 768px) {

    .card {
      height: 16em;
    }
    
  }