.card {
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  @media screen and (max-width: 768px) {

    .card {
      height: 255px;
    }
    
  }