ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.details-container {
    position: relative;
}

.title-location h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
}

.title-location p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.host {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.host p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    margin-right: 10px;
}

.host img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.tags-rating {
    position: relative;
}

.tags {
    display: flex;
    gap: 10px;
}

.tags span {
    min-width: 115px;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    height: 25px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #ff6060;
    margin-bottom: 23px;
}

.rating {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 4px;
}
