@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, footer {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer__logo {
    width: 122px;
    height: 40px;
    margin-bottom: 20px;
    filter: brightness(0) invert(1);
}

.footer__content {
    text-align: center;
    color: white;
}

.footer__copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.footer__copyright span{
    margin-right: 5px;
}


@media screen and (max-width: 768px) {
    .footer__copyright {
        display: flex;
        flex-direction: column;        
    }

    .footer__copyright {
        font-size: 12px;
    }
}
