@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.NotFound {
    display: flex;
    flex-direction: column;
    gap: 139px;
    margin: 139px 0;
}
.NotFound__h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 288px;
    font-weight: bold;
    color: #ff6060;
    margin: 0;
    padding: 0;
}

.NotFound__p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #ff6060;
    margin: 0 7%;
    padding: 0;
}

.NotFound__Link {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.NotFound__Link:visited {
    color: black;
}

@media screen and (max-width: 768px) {
    .NotFound {
        gap: 113px;
        margin: 113px 0;
    }
    .NotFound__h1 {
        font-size: 96px;
    }

    .NotFound__p {
        font-size: 18px;
    }

    .NotFound__Link {
        font-size: 14px;
    }
}